# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# sbt
build.properties

# Python
__pycache__/
.ipynb_checkpoints/

# vim
*.swp
*.swo

# local folders
/_*
