.shortGraph {
	height: 10vh;
}
.longGraph {
	height: 55vh;
}
.linePlot {
	height: 25vh;
}
.modal-content {
	min-height: 70vh;
}
#Ids {
	min-height: 40vh;
}
.isOptimized{
	background-color: #1e7e34;
	color: #1b1e21;
}

.selectorPlot {
	height: 5vh;
	background-color: yellow;
}

circle {
	fill: #000;
	stroke: #fff;
	stroke-width: 2px;
}
.bg-light{
	background-color: white !important;
}
.divider{
	fill: none;
	stroke: #998991;
	stroke-width: 3px;
}
.link {
	fill: none;
	stroke: rgba(10, 10, 10, 0.6);
	stroke-width: 1.5px;
}
.outStreamFull{
	fill: none;
	stroke: rgba(67, 123, 191, 0.7);
	stroke-width: 5px;

}
.outStreamLink{
	fill: none;
	stroke: #fff;
	stroke-width: 5px;

}
.inStreamFull{
	fill: none;
	stroke: rgba(67, 123, 191, 0.7);
	stroke-width: 5px;

}
.inStreamLink{
	fill: none;
	stroke: #fff;
	stroke-width: 3.5px;

}
text {
	font-size: 0.7rem;
}