#container {
    width: 300px;
    height: 100px;
    position: relative;
    animation: pulsate 2s linear infinite;    /* you could also use milliseconds (ms) or something like 2.5s */
    -webkit-animation: pulsate 2s linear infinite;
    -moz-animation: pulsate 2s linear infinite;}

@-webkit-keyframes pulsate {
    0% {background: deeppink}
    20% {background: red}
    40% {background: blue}
    60% {background: orange}
    80% {background: green}
    100% {background: aqua}
}
@-moz-keyframes pulsate {
    0% {background: deeppink}
    20% {background: red}
    40% {background: blue}
    60% {background: orange}
    80% {background: green}
    100% {background: aqua}
}
@keyframes pulsate {
    0% {background: deeppink}
    20% {background: red}
    40% {background: blue}
    60% {background: orange}
    80% {background: green}
    100% {background: aqua}
}